name: Editor Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'docs/**'

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        preset: [windows-gcc-release, windows-gcc-debug]

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Setup MSYS2 (UCRT64)
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          cache: true
          install: >
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-ninja

      - name: Configure CMake
        run: |
          cmake --preset ${{ matrix.preset }}

      - name: Build
        run: |
          cmake --build --preset ${{ matrix.preset }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: pyrite64-${{ matrix.preset }}
          include-hidden-files: true
          path: |
            pyrite64.exe
            data
            n64
            LICENSE

  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        preset: [linux-release, linux-debug]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gcc g++ \
            libx11-dev libxext-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxss-dev libxtst-dev
#            libwayland-dev libwayland-client-dev libwayland-cursor-dev libwayland-egl-dev

      - name: Configure CMake
        run: |
          cmake --preset ${{ matrix.preset }}

      - name: Build
        run: |
          cmake --build --preset ${{ matrix.preset }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: pyrite64-${{ matrix.preset }}
          include-hidden-files: true
          path: |
            pyrite64
            data
            n64
            LICENSE
